{% extends 'base.html' %}
{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
    <div style="margin-left:300px; margin-top: 20px; margin-right: 300px ">
        <form  action='/update/{{ task.id }}' method='POST'>
            <div class="form-group shadow-textarea">
                    <label for="exampleFormControlTextarea6">Modify Task</label>
                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" name = "Content" rows="2" placeholder="Task Description"></textarea>
                </div>
                <div class="md-form">
                    <label for="form7">Complete By:</label>
                    <textarea id="form7" class="md-textarea form-control" name= "Time" rows="1"></textarea>
                </div>
                    <input class="btn btn-success btn-sm" type="submit" value="Submit">

        </form>
        </div>
{% endblock %}
